flows.json
[{"id":"8bcdd475.df51b8","type":"tab","label":"Home Automation","disabled":false,"info":""},{"id":"52c7628a.4e6e9c","type":"ui_gauge","z":"8bcdd475.df51b8","name":"","group":"5f164e2e.bf871","order":1,"width":0,"height":0,"gtype":"gage","title":"RPi CPU temp","label":"Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"45","x":1100,"y":360,"wires":[]},{"id":"3ec5eb20.d7f014","type":"inject","z":"8bcdd475.df51b8","name":"tick 15","topic":"tempC","payload":"","payloadType":"str","repeat":"15","crontab":"","once":false,"onceDelay":"","x":560,"y":260,"wires":[["934e4add.715508","368bfa87.9f4056"]]},{"id":"934e4add.715508","type":"exec","z":"8bcdd475.df51b8","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"read cpu temperature","x":820,"y":360,"wires":[["5c1fb3e3.cc6a3c"],[],[]]},{"id":"5c1fb3e3.cc6a3c","type":"function","z":"8bcdd475.df51b8","name":"format temperature","func":"msg.payload = Number(msg.payload.slice(5,-3));\nreturn msg;","outputs":"1","noerr":0,"x":970,"y":280,"wires":[["52c7628a.4e6e9c"]]},{"id":"2c5dc75.7753e38","type":"ui_text","z":"8bcdd475.df51b8","group":"1c58a8f5.3c8b97","order":0,"width":0,"height":0,"name":"","label":"Face Recognition Status","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":620,"wires":[]},{"id":"301b1d05.34ae92","type":"ui_text","z":"8bcdd475.df51b8","group":"91bba8f.ae2c858","order":0,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"col-center","x":950,"y":180,"wires":[]},{"id":"1168729e.73aa1d","type":"ui_text","z":"8bcdd475.df51b8","group":"48ac68f.c932298","order":1,"width":0,"height":0,"name":"","label":"Last Entry","format":"{{msg.payload}}","layout":"col-center","x":1140,"y":820,"wires":[]},{"id":"de1b1af.e6469e8","type":"exec","z":"8bcdd475.df51b8","command":"sudo python3 -u /home/pi/proj/read.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":810,"y":840,"wires":[["1168729e.73aa1d"],[],[]]},{"id":"843d2b93.1406c8","type":"ui_button","z":"8bcdd475.df51b8","name":"","group":"48ac68f.c932298","order":1,"width":0,"height":0,"passthru":false,"label":"Read","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":840,"wires":[["de1b1af.e6469e8"]]},{"id":"20bf0da8.494fc2","type":"ui_button","z":"8bcdd475.df51b8","name":"","group":"6b6a9af9.3faa44","order":2,"width":"0","height":"0","passthru":false,"label":"Open","tooltip":"","color":"","bgcolor":"","icon":"fa-sign-in","payload":"5","payloadType":"str","topic":"","x":550,"y":480,"wires":[["c7e4ec9f.df175","a6fe8ff9.455e"]]},{"id":"d718994.15be468","type":"ui_button","z":"8bcdd475.df51b8","name":"","group":"6b6a9af9.3faa44","order":1,"width":"0","height":"0","passthru":true,"label":"Lock","tooltip":"","color":"","bgcolor":"","icon":"lock","payload":"12.5","payloadType":"str","topic":"","x":890,"y":540,"wires":[["c7e4ec9f.df175"]]},{"id":"c7e4ec9f.df175","type":"rpi-gpio out","z":"8bcdd475.df51b8","name":"Servo","pin":"11","set":"","level":"0","freq":"50","out":"pwm","x":1050,"y":480,"wires":[]},{"id":"368bfa87.9f4056","type":"exec","z":"8bcdd475.df51b8","command":"date","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":760,"y":180,"wires":[["301b1d05.34ae92"],[],[]]},{"id":"a6fe8ff9.455e","type":"delay","z":"8bcdd475.df51b8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":540,"wires":[["d718994.15be468"]]},{"id":"a6d6d0c3.d599f","type":"ui_button","z":"8bcdd475.df51b8","name":"","group":"5f164e2e.bf871","order":2,"width":0,"height":0,"passthru":false,"label":"Power Off","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":1320,"y":340,"wires":[["b31701c0.7d094"]]},{"id":"a9f26fc2.0fc17","type":"exec","z":"8bcdd475.df51b8","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1550,"y":240,"wires":[[],[],[]]},{"id":"b31701c0.7d094","type":"exec","z":"8bcdd475.df51b8","command":"sudo poweroff","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1560,"y":360,"wires":[["56bae79.094a018"],["56bae79.094a018"],["56bae79.094a018"]]},{"id":"ffed252a.06da28","type":"ui_button","z":"8bcdd475.df51b8","name":"","group":"5f164e2e.bf871","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1320,"y":260,"wires":[["a9f26fc2.0fc17"]]},{"id":"56bae79.094a018","type":"debug","z":"8bcdd475.df51b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1760,"y":380,"wires":[]},{"id":"5f164e2e.bf871","type":"ui_group","z":"","name":"Raspberry PI","tab":"35c05bcb.112644","order":2,"disp":true,"width":"6","collapse":false},{"id":"1c58a8f5.3c8b97","type":"ui_group","z":"","name":"FR Counter","tab":"143e5799.db2998","order":1,"disp":true,"width":"6","collapse":false},{"id":"91bba8f.ae2c858","type":"ui_group","z":"","name":"Local Info","tab":"35c05bcb.112644","order":1,"disp":true,"width":"6","collapse":false},{"id":"48ac68f.c932298","type":"ui_group","z":"","name":"RFID Last Entry","tab":"5de8a1b9.46d6d","order":1,"disp":true,"width":"6","collapse":false},{"id":"6b6a9af9.3faa44","type":"ui_group","z":"","name":"Front Door Control ","tab":"35c05bcb.112644","order":4,"disp":true,"width":"6","collapse":false},{"id":"35c05bcb.112644","type":"ui_tab","z":"","name":"Dashboard","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"143e5799.db2998","type":"ui_tab","z":"","name":"Face Recognition","icon":"face","order":2,"disabled":false,"hidden":false},{"id":"5de8a1b9.46d6d","type":"ui_tab","z":"","name":"RFID Dashboard","icon":"wifi","order":3,"disabled":false,"hidden":false}]
